<section id="productDetail">
  <div class="container">
    <div class="row pt-5">
      <div class="col-2">
        <div
          class="rounded bg-white d-flex flex-row justify-content-center align-items-center"
          style="width: 40px; height: 40px"
        >
          <img src="./icons/icon-back.png" alt="back icon" />
        </div>
      </div>
      <div
        class="col-8 d-flex flex-row justify-content-center align-items-center"
      >
        <span class="fw-bold">Detail</span>
      </div>
      <div class="col-2">
        <div
          class="rounded bg-white d-flex flex-row justify-content-center align-items-center"
          style="width: 40px; height: 40px"
        >
          <img src="./icons/icon-dots.png" alt="dots icon" />
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 text-center">
        <img src="./img/modelo-especial.png" alt="beer photo" />
      </div>
    </div>
    <div class="bg-white">
      <div class="row">
        <div class="col-8">
          <h3 class="fw-bold" style="font-size: 24px">Modelo Especial</h3>
        </div>
        <div class="col-4 text-end">
          <span style="font-size: 24px">$26.40</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span style="font-size: 14px; color: #969696">Origin: Import I</span>
          <span style="font-size: 14px; color: #969696">Stock: 456</span>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <h6 class="fw-bold">Description</h6>
          <p style="font-size: 14px; color: #969696">
            Selling imported beer in the US with nearly 60 million cases in
            annual sales, growing more than 15 million cases over the past 2
            years. A full flavored Mexican lager consistently delivering ...
            <span class="fw-bold" style="color: #ff9f24">Read more</span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h6 class="fw-bold">Size</h6>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col-4">
          <div class="border rounded-pill text-center">
            <span style="color: #969696; font-size: 14px">12 - 24oz</span>
          </div>
        </div>
        <div class="col-4">
          <div class="border rounded-pill text-center">
            <span style="color: #969696; font-size: 14px">18 - 12oz</span>
          </div>
        </div>
        <div class="col-4">
          <div class="border rounded-pill text-center">
            <span style="color: #969696; font-size: 14px">Half Barrel</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
